.topbar-wrapper(style="z-index: 5;")
  .topbar
    .container.fixed
      h3
        a#desksms-header.link.logo(href='https://market.android.com/details?id=com.koushikdutta.desktopsms') DeskSMS
      ul
        li
          a#desksms-login.login-hide.link(href='javascript:void(0)') Login
        li
          a#connect-google.connect-google.link(href='javascript:void(0)') Sync Contacts
        li#enable-chrome-notifications
          a(href='javascript:notifications.requestPermissions()') Enable Notifications
        li
          a#buy-desksms.buy-desksms.hidden(href='javascript:page.purchase()')

      form(action='javascript:void(0)')
        input#contact-search(type='text', placeholder='Enter Contact Name or Number')

      ul.nav
        li.menu
          a.menu(href='#')
            img(src='images/options.png')
          ul.menu-dropdown
            li
              a(href='javascript:page.showNotificationSettings()') Notification
            li
              a(href='javascript:page.showDeliveryOptions()') SMS Delivery
            li
              a.connect-google.link(href='javascript:void(0)') Sync Contacts
            li.divider
            li
              a(href='javascript:page.pong()') Test Connection
            li.divider
            li.login-show.hidden
              a#desksms-logout.login-show.link(href='javascript:void(0)') Logout
      script
        $(document).ready(function(){
          $("body").bind("click", function(e) {
              $("ul.menu-dropdown").hide();
              $('a.menu').parent("li").removeClass("open").children("ul.menu-dropdown").hide();
            });

          $("a.menu").click(function(e) {
             var $target = $(this);
             var $parent = $target.parent("li");
             var $siblings = $target.siblings("ul.menu-dropdown");
             var $parentSiblings = $parent.siblings("li");
             if ($parent.hasClass("open")) {
               $parent.removeClass("open");
               $siblings.hide();
             } else {
               $parent.addClass("open");
               $siblings.show();
             }
             $parentSiblings.children("ul.menu-dropdown").hide();
             $parentSiblings.removeClass("open");
             return false;
           });
          });

          // clear all cookiess, this is all done with static content.
          function deleteAllCookies() {
              var cookies = document.cookie.split(";");

              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i];
                  var eqPos = cookie.indexOf("=");
                  var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                  document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
              }
          }
          deleteAllCookies();

.container
  - each notification in notifications
    - var notificationId = 'notification-' + stripExtension(notification);
    audio.hidden(id=notificationId)
      source(src='notifications/' + notification)

  .container(style='padding-top: 60px')

  section#alerts
    .row
      .span11.columns
        .alert-message.error.login-hide
          p New to DeskSMS? Install the DeskSMS Android application to get started! If you have already installed the application, just log in above to send and receive your texts!
          p
            a.btn.small.link(href='https://market.android.com/details?id=com.koushikdutta.desktopsms') Download DeskSMS
        #content-status-not-registered.alert-message.error.hidden
          p Thanks for logging in! Now, you need to install the DeskSMS Android application on your phone send and receive texts!
          p
            a.btn.small.link(href='https://market.android.com/details?id=com.koushikdutta.desktopsms') Download DeskSMS
        #content-status.content-status.hidden.alert-message.success

  section#content-container
    #conversation-template.conversation-template.hidden
      .row
        .span3.columns(align='center')
          img.contact-image(src='images/desksms-small.png')
          h3
            .contact-name
          strong
            .contact-number
          h6
            .contact-last-message-date
          #conversation-id.hidden

        #contact-messages-internal.span7.columns.well
          #contact-message-template.contact-message-template.hidden
            strong
              span.message-from
            span=': '
            span.message-content
            span=' '
            em
              span.message-date
            span=' '
            img.message-pending(src='images/message-pending.png')

          #last-message.padded-bottom
          .padded-bottom
          form.contact-text-container-hidden.hidden(action='javascript:void(0)')
            input.xlarge.contact-text-content(type="text", style='width: 100%')
            .contact-text-character-count

          center
            .contact-action-confirm-dialog.hidden
              .contact-action-confirm-question Are you sure?
              a.btn.small.primary.contact-action-confirm-yes(href='javascript:void(0);') Yes
              a.btn.small.contact-action-confirm-no(href='javascript:void(0);') No

          div
            a.contact-text.btn.small.primary(href='javascript:void(0);') Text
            a.contact-call.btn.small(href='javascript:void(0);') Call
            a.contact-delete.btn.small(href='javascript:void(0);') Delete
  


iframe#push-iframe.hidden(src='push.html')

#notification-settings.hidden.dialog-container
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: auto; top: 100px; left: 400px; display: block; z-index: 1001;')
    #test-modal.modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1')
      .modal-header
        h3 Notification Settings
        a.close(href='javascript:void(0)', onclick='page.closeDialog(this)') &times;
      section.modal-body
        - var count = 0
        - var current = null
        - var rows = []
        - each notification in notifications
          - if (count % 4 == 0)
            - current = []
            - rows.push(current)
          - count = count + 1
          - current.push(notification)
        .row
          .span2.columns.padded-bottom
            a.notification.btn.small.secondary(href='javascript:void(0);', onclick='page.setNotification(this)', id='notification-button-None') None
        - each row in rows
          .row
            - each notification in row
              .span2.columns.padded-bottom
                - var notificationId = stripExtension(notification)
                - var ext = extname(notification).substring(1)
                a.notification.btn.small.secondary(class='notification-type-' + ext, href='javascript:void(0);', onclick='page.setNotification(this)', id='notification-button-' + notificationId)= notificationId
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='page.closeDialog(this)') Done

#buy-dialog.hidden.dialog-container
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: auto; top: 100px; left: 400px; display: block; z-index: 1001;')
    #test-modal.modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1')
      .modal-header
        h3 Your purchase helps keep the DeskSMS servers running!
        a.close(href='javascript:void(0)', onclick='page.closeDialog(this)') &times;
      section.modal-body
        center
          .padded-bottom
          #account-status.buy-desksms.padded-bottom
          .padded-bottom
          .padded-bottom
            a(href='javascript:page.purchaseOnGoogleCheckout()')
              img(src='images/google_checkout.png')
          .padded-bottom
          .padded-bottom or
          .padded-bottom
            a(href='javascript:page.purchaseOnMarket()')
              img(src='images/android_market.png')
          #buy-android You can buy a DeskSMS License from within the DeskSMS Android application, or check out <em>now</em> using your same Google Checkout account above!
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='page.closeDialog(this)') Done

#delivery-options-dialog.hidden.dialog-container
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: auto; top: 100px; left: 400px; display: block; z-index: 1001;')
    #test-modal.modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1')
      .modal-header
        h3 SMS Delivery Options
        a.close(href='javascript:void(0)', onclick='page.closeDialog(this)') &times;
      section.modal-body
        center
          .padded-bottom
            a#setting-forward_email.setting.btn.small.secondary(href='javascript:void(0);', onclick='page.toggleSetting(this)') GMail
          .padded-bottom
            a#setting-forward_xmpp.setting.btn.small.secondary(href='javascript:void(0);', onclick='page.toggleSetting(this)') Google Talk
          .padded-bottom
            a#setting-forward_web.setting.btn.small.secondary(href='javascript:void(0);', onclick='page.toggleSetting(this)') Web Interface
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='page.updateDeliveryOptions(this)') Save
