div.topbar li.hidden {
    display: none;
}

.hidden {
    display: none;
}

#desksms-header-link {
    color: #E27318;
}

.conversation-template {
    padding-bottom: 40px;
}

#contact-messages-internal {
    min-height: 100px;
}

.padded-bottom {
  padding-bottom: 6px;
}