div.topbar a.hidden {
    display: none;
}

div.topbar div.row {
    margin-bottom: 0px;
}

.hidden {
    display: none;
}

#desksms-header {
    color: #E27318;
}

.conversation-template {
    padding-bottom: 20px;
}

#contact-messages-internal {
    min-height: 100px;
}

.padded-bottom {
  padding-bottom: 6px;
}

#buy-desksms {
    color: red;
}

#referral-info {
    color: red;
}

#account-status {
    color: red;
}

.contact-text-character-count {
    padding: 6px;
    font-weight: bold;
}

.conversation-unread {
     border-radius: 25px; /* Standard */
    -o-border-radius: 25px; /* Opera 10.x */
    -moz-border-radius: 25px; /* Mozilla/Firefox */
    -icab-border-radius: 25px; /* iCab */
    -khtml-border-radius: 25px; /* KHTML/Konqueror */
    -webkit-border-radius: 25px; /* Webkit/Safari/Chrome/etcetera */

    border-radius: 10px;
    border-width: 0 0 0 6px;
    border-color: #82D1FF;
    border-style: solid;

    padding-left: 6px;
}

.message-content {
  word-wrap: break-word;
}